.main{
  background-color:#F2F4F5;
}

.clear{clear:both;}
.thumbnail a > img, .thumbnail > img {
    margin-right: auto;
    margin-left: auto;
    max-width: 350px; !important
    max-height: 350px; !important
}
.jumbotron{
  background:url("https://wallpaperscraft.com/image/laptop_keyboard_buttons_monitor_92313_1366x768.jpg") repeat fixed center top transparent;
  transition: height 0.3s ease 0s;
  background-repeat:no-repeat;
  background-size:cover;
  height:450px;
}
.jumbotron .container{
  position:relative;
  top:-36px;
  left:-80px;
}
.jumbotron img{
  border-radius:100px;
  width:10%;
  position:relative;
  left:100px;
}
.jumbotron h3{
  color:#fff;
  font-family: 'Dancing Script', cursive;
  font-size:5em;
  }
.jumbotron h4{
  color:#fff;
  font-family: 'Dancing Script', cursive;
  font-size:1.5em;
  }
.jumbotron p{
  color:#fff;
  font-family: 'Dancing Script', cursive;
  }
.about_me .header h3 {
  text-align:center;
}

.about_me .header {
  position:relative;
  margin-bottom:10px;
  background-color:white;
}
.about_me .container{
  background-color:#F2F4F5;
}

.estudios p, .estudios ul{
  font-family: 'Lato', sans-serif;
  }

.barras_progreso {
    margin-top: 30px;

}

.barras_progreso .barra_progreso {
    margin-top: 10px;
}

.barras_progreso .barra_progreso {
    position: relative;
    width: 97%;
    height: 35px;
}

.barras_progreso .barra_progreso .progreso {
    height: 100%;
    font-size: 15px;
    color: #18191A;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}

.barras_progreso .barra_progreso .progreso .porcentaje {
    position: absolute;
    top: 0px;
    right: 0px;
}

.barras_progreso .barra_progreso .progreso .barra {
    background-color: #3498DB;
    width: 100%;
    height: 14px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.barras_progreso .barra_progreso .progreso .titulo {
    position: absolute;
    top: 0px;
    left: 0px;
}

.barras_progreso .barra_progreso .borde {
    background-color: transparent;
    width: 100%;
    height: 14px;
    border: 2px solid #E1E3E6;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.otros_conocimientos {
  position:relative;
  margin-top:30px;
}

.otros_conocimientos li{
  display: inline;
  margin-left:10px;
  }

td, th {
    padding: 10px;
}
.experiencia > div:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(3){
  width:40%;
}

.footer{
  background-color:#000;
  height:40px;
  position:relative;
  border-radius:10px;
}
.footer_content{
  padding-top:10px;
  padding-left:15px;
  color:#fff;
}
